
@{
    ViewBag.Title = "修改节点";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@model ZSZ.Model.Model.SysMenus

<div>
    <form action="" method="post" class="form form-horizontal responsive" id="updateform">
        <div class="row cl">
            <label class="form-label col-xs-3">父节点名称：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" readonly autocomplete="off" value="@Model.ParentName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">节点名称：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" placeholder="增加节点名称" value="@Model.MenuName" name="MenuName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">节点Url：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" autocomplete="off" placeholder="格式：/控制器/方法" value="@Model.MenuUrl" name="MenuUrl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3">排序字段：</label>
            <div class="formControls col-xs-8">
                <input type="text" class="input-text" autocomplete="off" placeholder="排序字段" value="@Model.SortNum" name="SortNum">
            </div>
        </div>
        <div class="row cl" style="display:none;">
            <input type="hidden" value="@Model.Id" name="Id" />
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-xs-offset-3">
                <input class="btn btn-primary btnUpdate" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>

</div>

@section FooterScript
{
    <script>
        $(function () {
            $(".btnUpdate").click(function () {
                AjaxUtil.request({
                    url: '/SysMenu/UpdateMenuNode',
                    type: 'post',
                    data: $("#updateform").serialize(),
                    isLoading: false,
                    success: function (rep) {
                        layer.alert(rep.Message);
                        layer.closeAll();
                        parent.window.location.reload();

                    },
                    fail: function (rep) {
                        layer.alert(rep.Message);
                    }
                });
            });
        })
    </script>
}
